In [10]:
import pandas as pd
import numpy as np

from eval_ithor.objects import total
df = pd.read_csv('./res/val_0_0_2/out.csv')

In [11]:
df

    Unnamed: 0     score     query_name          scene_name
0            0  0.641962          Apple  FloorPlan_Train8_1
1            1  0.600655           Bowl  FloorPlan_Train8_1
2            2  0.999998     AlarmClock  FloorPlan_Train8_1
3            3  0.000000  RemoteControl  FloorPlan_Train8_1
4            4  0.483921         Pillow  FloorPlan_Train8_1
..         ...       ...            ...                 ...
65          65  0.284210      TeddyBear  FloorPlan_Train5_1
66          66  0.141723      CellPhone  FloorPlan_Train5_1
67          67  0.374768     AlarmClock  FloorPlan_Train5_1
68          68  0.174505    SprayBottle  FloorPlan_Train5_1
69          69  0.000000           Bowl  FloorPlan_Train5_1

[70 rows x 4 columns]

In [12]:
obj_score = []

for obj in total:
    temp = df.loc[df['query_name'] == obj, ['score']]
    temp = np.clip(temp,0,1)
    mean_score = temp.mean().item()
    mean_score = np.nan_to_num(mean_score,nan=100)
    if mean_score != 100:
        success_rate = (temp>0).sum().item()/(len(temp))
        obj_score.append(dict(object=obj,SPL=mean_score,success_rate = success_rate ))
obj_score = pd.DataFrame(obj_score)

In [13]:
obj_score

           object       SPL  success_rate
0       CellPhone  0.267356      1.000000
1           Apple  0.343731      1.000000
2     SprayBottle  0.493573      0.857143
3             Pot  0.509723      1.000000
4            Book  0.303489      1.000000
5            Bowl  0.380570      0.857143
6   RemoteControl  0.264787      0.714286
7      AlarmClock  0.281816      0.714286
8              CD  0.867960      1.000000
9       TeddyBear  0.284210      1.000000
10         Pillow  0.489811      1.000000
11         Laptop  0.453009      1.000000

In [14]:
spl = df['score'].to_numpy()
spl = np.clip(spl,a_min=0,a_max=1)
success = (spl>0)
mean_spl = spl.mean()
mean_success = success.mean()
temp = pd.DataFrame([dict(object='Average',SPL=mean_spl,success_rate=mean_success)])
total_obj_score = pd.concat((obj_score,temp))

In [15]:
total_obj_score

           object       SPL  success_rate
0       CellPhone  0.267356      1.000000
1           Apple  0.343731      1.000000
2     SprayBottle  0.493573      0.857143
3             Pot  0.509723      1.000000
4            Book  0.303489      1.000000
5            Bowl  0.380570      0.857143
6   RemoteControl  0.264787      0.714286
7      AlarmClock  0.281816      0.714286
8              CD  0.867960      1.000000
9       TeddyBear  0.284210      1.000000
10         Pillow  0.489811      1.000000
11         Laptop  0.453009      1.000000
0         Average  0.382231      0.914286

In [8]:
scene_score = []
total = ['FloorPlan_Train1_2', 'FloorPlan_Train10_4','FloorPlan_Train9_1',
    'FloorPlan_Train2_3','FloorPlan_Train5_1', 'FloorPlan_Train8_1','FloorPlan_Train6_2']
for obj in total:
    temp = df.loc[df['scene_name'] == obj, ['score']]
    temp = np.clip(temp,0,1)
    mean_score = temp.mean().item()
    mean_score = np.nan_to_num(mean_score,nan=100)
    if mean_score != 100:
        success_rate = (temp>0).sum().item()/(len(temp))
        scene_score.append(dict(scene=obj,SPL=mean_score,success_rate = success_rate ))
scene_score = pd.DataFrame(scene_score)

In [9]:
scene_score

                 scene       SPL  success_rate
0   FloorPlan_Train1_2  0.520294      0.888889
1  FloorPlan_Train10_4  0.337581      0.777778
2   FloorPlan_Train9_1  0.405455      1.000000
3   FloorPlan_Train2_3  0.563280      0.866667
4   FloorPlan_Train5_1  0.189776      0.785714
5   FloorPlan_Train6_2  0.369854      0.857143

In [9]:
from co_occurance.fliker import fliker_knowledge

In [10]:
landmark_names = ['Bed', 'DiningTable', 'StoveBurner', 'Toilet', 'Sink', 'Desk','Drawer','Shelf',
                        'CounterTop','Television','Sofa','SideTable','CoffeeTable',
                        'ShelvingUnit','ArmChair','TVStand']

object_names = ['RemoteControl','Laptop','Book','Apple','CD']
f = fliker_knowledge(landmark_names,object_names)

bed on
1478213
bed remote%20control
1905
0.0012887182023159044
bed laptop
6562
0.004439143749919667
bed book
185552
0.12552453536804237
bed apple
15016
0.010158211299724735
bed CD
4630
0.0031321602502481036
dining%20table on
2472405
dining%20table remote%20control
265
0.00010718308691334956
dining%20table laptop
1973
0.0007980084169058063
dining%20table book
12809
0.005180785510464507
dining%20table apple
4244
0.001716547248529266
dining%20table CD
1177
0.0004760546916868393
stove on
154162
stove remote%20control
264
0.0017124842697941126
stove laptop
888
0.005760174362034742
stove book
24216
0.15708151165656906
stove apple
2740
0.01777351098195405
stove CD
437
0.002834680401136467
toilet on
279354
toilet remote%20control
533
0.001907973395763082
toilet laptop
576
0.0020618999548959386
toilet book
14206
0.05085303951258976
toilet apple
1839
0.0065830451684958866
toilet CD
813
0.0029102858738374966
sink on

In [ ]:
import pandas as pd
m = f.co_matrix
df = pd.DataFrame(m.T)
df.columns = landmark_names
df.index = object_names

In [ ]:
df

In [ ]:
m