In [13]:
import pandas as pd
import numpy as np

from eval_ithor.objects import total
df = pd.read_csv('./res/temp/out.csv')

In [8]:
df

    Unnamed: 0     score     query_name scene_type
0            0  0.858630          Apple      train
1            1  0.000000           Bowl      train
2            2  0.037896     AlarmClock      train
3            3  0.000000  RemoteControl      train
4            4  0.509731         Pillow      train
..         ...       ...            ...        ...
88          88  0.984107           Bowl      train
89          89  0.686443          Apple      train
90          90  0.700985     AlarmClock      train
91          91  0.819726         Pillow      train
92          92  0.000000            Mug      train

[93 rows x 4 columns]

In [36]:
obj_score = []

for obj in total:
    temp = df.loc[df['query_name'] == obj, ['score']]
    mean_score = temp.mean().item()
    mean_score = np.nan_to_num(mean_score,nan=100)
    if mean_score != 100:
        success_rate = (temp>0).sum().item()/(len(temp))
        obj_score.append(dict(object=obj,SPL=mean_score,success_rate = success_rate ))
obj_score = pd.DataFrame(obj_score)

In [37]:
obj_score

           object       SPL  success_rate
0             Mug  0.158376         0.300
1     SprayBottle  0.269492         0.400
2          Pillow  0.728019         1.000
3             Pen  0.000000         0.000
4            Bowl  0.371215         0.800
5           Apple  0.513733         0.700
6      AlarmClock  0.208026         0.500
7   RemoteControl  0.153273         0.300
8     ButterKnife  0.000000         0.000
9            Fork  0.000000         0.000
10      TeddyBear  0.860519         1.000
11           Book  0.206604         0.375