In [1]:
import pandas as pd
import numpy as np

from eval_ithor.objects import total
df = pd.read_csv('./res/0_0_2/out.csv')

In [2]:
df

    Unnamed: 0     score     query_name          scene_name
0            0  1.337601          Apple  FloorPlan_Train8_1
1            1  0.999997     AlarmClock  FloorPlan_Train8_1
2            2  0.000000  RemoteControl  FloorPlan_Train8_1
3            3  0.224713         Pillow  FloorPlan_Train8_1
4            4  0.211572         Laptop  FloorPlan_Train8_1
..         ...       ...            ...                 ...
94          94  0.827590            Pot  FloorPlan_Train2_2
95          95  0.000000  RemoteControl  FloorPlan_Train2_2
96          96  0.000000             CD  FloorPlan_Train2_2
97          97  0.272555          Apple  FloorPlan_Train2_2
98          98  0.262385            Mug  FloorPlan_Train2_2

[99 rows x 4 columns]

In [8]:
obj_score = []

for obj in total:
    temp = df.loc[df['query_name'] == obj, ['score']]
    temp = np.clip(temp,0,1)
    mean_score = temp.mean().item()
    mean_score = np.nan_to_num(mean_score,nan=100)
    if mean_score != 100:
        success_rate = (temp>0).sum().item()/(len(temp))
        obj_score.append(dict(object=obj,SPL=mean_score,success_rate = success_rate ))
obj_score = pd.DataFrame(obj_score)

In [4]:
obj_score

           object       SPL  success_rate
0     SprayBottle  0.501064      0.700000
1           Apple  0.458266      0.800000
2   RemoteControl  0.205430      0.300000
3            Book  0.290403      0.714286
4             Pot  0.605049      0.833333
5    PepperShaker  1.000000      1.000000
6             Mug  0.474938      0.900000
7       TeddyBear  0.973361      1.000000
8          Pillow  0.704097      1.000000
9          Laptop  0.282386      0.500000
10     AlarmClock  0.397934      0.500000
11             CD  0.500000      0.500000
12      CellPhone  0.294244      0.400000

In [31]:
spl = df['score'].to_numpy()
spl = np.clip(spl,a_min=0,a_max=1)
success = (spl>0)
mean_spl = spl.mean()
mean_success = success.mean()
temp = pd.DataFrame([dict(object='Average',SPL=mean_spl,success_rate=mean_success)])
total_obj_score = pd.concat((obj_score,temp))

In [32]:
total_obj_score

           object       SPL  success_rate
0     SprayBottle  0.501064      0.700000
1           Apple  0.458266      0.800000
2   RemoteControl  0.205430      0.300000
3            Book  0.290403      0.714286
4             Pot  0.605049      0.833333
5    PepperShaker  1.000000      1.000000
6             Mug  0.474938      0.900000
7       TeddyBear  0.973361      1.000000
8          Pillow  0.704097      1.000000
9          Laptop  0.282386      0.500000
10     AlarmClock  0.397934      0.500000
11             CD  0.500000      0.500000
12      CellPhone  0.294244      0.400000
0         Average  0.428098      0.676768