In [1]:
import pandas as pd
import numpy as np

from eval_ithor.objects import total
df = pd.read_csv('./res/v4_val_0_1/out.csv')

In [2]:
df

     Unnamed: 0     score     query_name        scene_name
0             0  1.000000           Book  FloorPlan_Val1_1
1             1  0.172936           Book  FloorPlan_Val1_1
2             2  1.000000           Book  FloorPlan_Val1_1
3             3  0.071860           Book  FloorPlan_Val1_1
4             4  0.312479         Laptop  FloorPlan_Val1_1
..          ...       ...            ...               ...
178         178  0.560805         Pillow  FloorPlan_Val3_5
179         179  0.000000      CellPhone  FloorPlan_Val3_5
180         180  0.300914     AlarmClock  FloorPlan_Val3_5
181         181  0.045021  RemoteControl  FloorPlan_Val3_5
182         182  0.346862    SprayBottle  FloorPlan_Val3_5

[183 rows x 4 columns]

In [3]:
obj_score = []

for obj in total:
    temp = df.loc[df['query_name'] == obj, ['score']]
    temp = np.clip(temp,0,1)
    mean_score = temp.mean().item()
    mean_score = np.nan_to_num(mean_score,nan=100)
    if mean_score != 100:
        success_rate = (temp>0).sum().item()/(len(temp))
        obj_score.append(dict(object=obj,SPL=mean_score,success_rate = success_rate ))
obj_score = pd.DataFrame(obj_score)

In [4]:
obj_score

           object       SPL  success_rate
0              CD  0.068127      0.500000
1       CellPhone  0.147027      0.500000
2       TeddyBear  0.433445      1.000000
3            Bowl  0.234509      0.866667
4             Pot  0.459759      0.916667
5          Laptop  0.299552      0.866667
6           Apple  0.250226      0.733333
7   RemoteControl  0.045771      0.533333
8      AlarmClock  0.324369      0.866667
9            Book  0.369054      0.891304
10    SprayBottle  0.142611      0.600000
11         Pillow  0.249930      0.894737

In [5]:
spl = df['score'].to_numpy()
spl = np.clip(spl,a_min=0,a_max=1)
success = (spl>0)
mean_spl = spl.mean()
mean_success = success.mean()
temp = pd.DataFrame([dict(object='Average',SPL=mean_spl,success_rate=mean_success)])
total_obj_score = pd.concat((obj_score,temp))

In [6]:
total_obj_score

           object       SPL  success_rate
0              CD  0.068127      0.500000
1       CellPhone  0.147027      0.500000
2       TeddyBear  0.433445      1.000000
3            Bowl  0.234509      0.866667
4             Pot  0.459759      0.916667
5          Laptop  0.299552      0.866667
6           Apple  0.250226      0.733333
7   RemoteControl  0.045771      0.533333
8      AlarmClock  0.324369      0.866667
9            Book  0.369054      0.891304
10    SprayBottle  0.142611      0.600000
11         Pillow  0.249930      0.894737
0         Average  0.270302      0.792350

In [ ]:
scene_score = []
total = ['FloorPlan_Train1_2', 'FloorPlan_Train10_4','FloorPlan_Train9_1',
    'FloorPlan_Train2_3','FloorPlan_Train5_1', 'FloorPlan_Train8_1','FloorPlan_Train6_2']
for obj in total:
    temp = df.loc[df['scene_name'] == obj, ['score']]
    temp = np.clip(temp,0,1)
    mean_score = temp.mean().item()
    mean_score = np.nan_to_num(mean_score,nan=100)
    if mean_score != 100:
        success_rate = (temp>0).sum().item()/(len(temp))
        scene_score.append(dict(scene=obj,SPL=mean_score,success_rate = success_rate ))
scene_score = pd.DataFrame(scene_score)

In [ ]:
scene_score

In [ ]:
from co_occurance.fliker import fliker_knowledge

In [ ]:
landmark_names = ['Bed', 'DiningTable', 'StoveBurner', 'Toilet', 'Sink', 'Desk','Drawer','Shelf',
                        'CounterTop','Television','Sofa','SideTable','CoffeeTable',
                        'ShelvingUnit','ArmChair','TVStand']

object_names = ['RemoteControl','Laptop','Book','Apple','CD']
f = fliker_knowledge(landmark_names,object_names)

In [ ]:
import pandas as pd
m = f.co_matrix
df = pd.DataFrame(m.T)
df.columns = landmark_names
df.index = object_names

In [ ]:
df

In [ ]:
m