In [7]:
import pandas as pd
import numpy as np

from eval_ithor.objects import total
df = pd.read_csv('./res/v5_val_0_0/out.csv')

In [8]:
df

     Unnamed: 0     score     query_name        scene_name  num_waypoints
0             0  1.000000           Book  FloorPlan_Val1_1              0
1             1  0.395076           Book  FloorPlan_Val1_1              3
2             2  1.000000           Book  FloorPlan_Val1_1              0
3             3  0.087952           Book  FloorPlan_Val1_1              6
4             4  0.256217         Laptop  FloorPlan_Val1_1              3
..          ...       ...            ...               ...            ...
178         178  0.571635         Pillow  FloorPlan_Val3_5              1
179         179  0.007078      CellPhone  FloorPlan_Val3_5             20
180         180  0.210334     AlarmClock  FloorPlan_Val3_5              9
181         181  0.209290  RemoteControl  FloorPlan_Val3_5              1
182         182  0.243852    SprayBottle  FloorPlan_Val3_5             11

[183 rows x 5 columns]

In [9]:
obj_score = []

for obj in total:
    temp = df.loc[df['query_name'] == obj, ['score']]
    temp2 = df.loc[df['query_name'] == obj, ['num_waypoints']]
    temp = np.clip(temp,0,1)
    mean_score = temp.mean().item()
    mean_score = np.nan_to_num(mean_score,nan=100)
    mean_points = temp2.mean().item()
    if mean_score != 100:
        success_rate = (temp>0).sum().item()/(len(temp))
        obj_score.append(dict(object=obj,SPL=mean_score,success_rate = success_rate,num_waypoints =  mean_points))
obj_score = pd.DataFrame(obj_score)

In [10]:
obj_score

           object       SPL  success_rate  num_waypoints
0   RemoteControl  0.081641      0.666667      12.266667
1          Laptop  0.365639      1.000000       6.200000
2            Book  0.396340      0.913043       6.695652
3           Apple  0.324316      0.866667       8.066667
4              CD  0.094046      0.500000      12.500000
5             Pot  0.439054      0.916667       5.250000
6            Bowl  0.430778      1.000000       4.733333
7      AlarmClock  0.301070      0.866667       7.800000
8       TeddyBear  0.734376      1.000000       1.500000
9       CellPhone  0.373638      0.833333      11.000000
10    SprayBottle  0.264707      0.800000       7.400000
11         Pillow  0.312673      1.000000       6.684211

In [11]:
spl = df['score'].to_numpy()
num_points = df['num_waypoints'].to_numpy()
spl = np.clip(spl,a_min=0,a_max=1)
success = (spl>0)
mean_spl = spl.mean()
mean_points = num_points.mean()
mean_success = success.mean()
temp = pd.DataFrame([dict(object='Average',SPL=mean_spl,success_rate=mean_success,num_waypoints = mean_points)])
total_obj_score = pd.concat((obj_score,temp))

In [12]:
total_obj_score

           object       SPL  success_rate  num_waypoints
0   RemoteControl  0.081641      0.666667      12.266667
1          Laptop  0.365639      1.000000       6.200000
2            Book  0.396340      0.913043       6.695652
3           Apple  0.324316      0.866667       8.066667
4              CD  0.094046      0.500000      12.500000
5             Pot  0.439054      0.916667       5.250000
6            Bowl  0.430778      1.000000       4.733333
7      AlarmClock  0.301070      0.866667       7.800000
8       TeddyBear  0.734376      1.000000       1.500000
9       CellPhone  0.373638      0.833333      11.000000
10    SprayBottle  0.264707      0.800000       7.400000
11         Pillow  0.312673      1.000000       6.684211
0         Average  0.339365      0.890710       7.404372

In [ ]:
from co_occurance.fliker import fliker_knowledge

In [ ]:
landmark_names = ['Bed', 'DiningTable', 'StoveBurner', 'Toilet', 'Sink', 'Desk','Drawer','Shelf',
                        'CounterTop','Television','Sofa','SideTable','CoffeeTable',
                        'ShelvingUnit','ArmChair','TVStand']

object_names = ['RemoteControl','Laptop','Book','Apple','CD']
f = fliker_knowledge(landmark_names,object_names)

In [ ]:
import pandas as pd
m = f.co_matrix
df = pd.DataFrame(m.T)
df.columns = landmark_names
df.index = object_names

In [ ]:
df

In [ ]:
m